.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container h1 {
    font-size: 3rem;
    margin: 2rem 0;
}

.hostButtons {
    display: flex;
}

.hostButtons button {
    margin: 1rem;
}