body {
    background: var(--secondary-bg);
}

.voteTitle {
    font-size: 1.5rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.optionsContainer {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  font-size: 1.25rem;
  width: 100%;
  max-height: 300px;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 3rem;
  margin-bottom: 2rem;
  border: solid var(--border-color) 2px;
  background-color: var(--primary);
  border-radius: 0.5rem;
}

.waitingBox {
    margin: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.waitingBox h2 {
    font-size: 2.5rem;
}

.waitingBox p {
    text-align: center;
    margin-top: 0.5rem;
}